
/* 
-------------------------------------*/
body {
    color: #343434;
}

img {
    width: 300px;
}

a {
    color: #A882DD;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Profile
------------------------------------*/
header {
    background: #7B435B;
    color: #F7FFF7;
}




/* Projects
-------------------------------------*/
.projects{
    background: #AED9E0;
}

.projects a{
    color: #F7FFF7;
    background: #7B435B;
    padding: 8px;
    border-radius: 4px;
}

.projects a:hover{
    background: rgb(123, 67, 91, 45%);
    text-decoration: none;
}



/* Work Experience
-------------------------------------*/
.work-experience{
    background: #CAB1BD;
}



/* Education
-------------------------------------*/





/* Contact Info
--------------------------------------*/
footer {
    background: #404E5C;
    color: #F7FFF7;
}